services:
  - docker

script:
  - make build

before_deploy:
  - docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"

deploy:
  - provider: script
    skip_cleanup: true
    script:
      - make pushedge
    on:
      branch: master
  - provider: script
    skip_cleanup: true
    script:
      - make push
    on:
      tags: true
