[
    {"name": "Mesos", "id": "mesos", "check": "mesos", "path": "/mesos"},
    {"name": "Marathon", "id": "marathon", "check": "marathon", "path": "/marathon"},
    {"name": "Consul", "id": "consul", "check": "consul", "path": "/consul/"}{{with service "traefik" "any"}},
    {"name": "Traefik", "id": "traefik", "check": "traefik-admin", "path": "/traefik"}{{end}}{{with service "chronos" "any"}},
    {"name": "Chronos", "id": "chronos", "check": "chronos", "path": "/chronos"}{{end}}{{with service "kibana" "any"}},
    {"name": "Kibana", "id": "kibana", "check": "kibana", "path": "/kibana"}{{end}}{{with service "elasticsearch" "any"}},
    {"name": "Elasticsearch", "id": "elasticsearch", "check": "elasticsearch", "path": "/elasticsearch"}{{end}}
]
